.title {
  color: var(--yellow-color);
  font-size: 36px;
  margin-bottom: 32px;
}
.wrapper {
  width: 100vw;
  min-height: 100svh;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page {
  width: 993px;
  background-color: var(--yellow-color);
  border-radius: 20px;
  padding: 40px;
}
.pageWrapper {
  padding: 35px 25px 35px 35px;
  background-color: var(--grey-color);
  border-radius: 20px;
  box-shadow: 4px 4px 4px 0 #00000040;
}
.pageContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about {
  padding: 40px 20px;
  background-color: var(--black-color);
  border-radius: 15px;
  min-width: 476px;
  width: 100%;
  box-shadow: 6px 6px 2.2999999523px 0 rgba(255, 255, 255, 0.2509803922) inset;
  color: var(--white-color);
  margin-right: 20px;
  &Title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &Text {
    font-size: 13px;
    line-height: 30px;
    min-height: 150px;
    a {
      color: #fff;
    }
  }
}
.navigation {
  min-width: 288px;
  padding: 27px 32px;
  background-color: var(--black-color);
  border-radius: 15px;
  box-shadow: 6px 6px 2.2999999523px 0 rgba(255, 255, 255, 0.2509803922) inset;
  color: var(--white-color);
}
.start {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    text-transform: uppercase;
    min-width: 197px;
  }
}



