.head {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px 0;
    width: 100%;

    &__title {
        font-size: 20px;
        line-height: 20px;
    }

    &__back {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 0;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        padding: 0;
        transform: translateY(-50%) rotate(180deg);
        transform-origin: center;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        
        &:hover {
            transform: translateX(-10px) translateY(-50%) rotate(180deg);
        }
    }
}
